<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="project817.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="project817.Perspective"
            id="project817.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="filemenu"
               label="File">
            <command
                  commandId="project817.command1"
                  label="New"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="project817.NewHandler"
            id="project817.command1"
            name="New">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="project817.Navigation"
            id="project817.HelloView"
            name="导航器"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="project817.Target"
            id="project817.view3"
            name="对象"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="project817.Group"
            id="project817.group"
            name="Group"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="project817.Change"
            id="project817.change"
            name="变更"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="project817.ECCMonitor"
            id="project817.ecc"
            name="ECCMonitor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="project817.AboutDemo"
            id="project817.about"
            name="概要"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="project817.CheckDemo"
            id="project817.check"
            name="相关检测"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="project817.MyEditor"
            default="false"
            icon="alt_about.gif"
            id="project817.editor"
            name="Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="project817.ChangeDemo"
            default="false"
            id="project817.change"
            name="change">
      </editor>
   </extension>

</plugin>
